.vscode/**
**/*.ts
**/*.map
*.tsbuildinfo
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
.npm-cache/**
.vscode-test/**
.ops/**
logs/**
scripts/**
docs/**
client/src/**
server/src/**
webview-src/**
client/testFixture/**
client/node_modules/**
client/server/**
# keep built/bundled assets
!client/dist/**
!server/dist/**
!media/**
!conf/**
!resources/**
!README.md
!CHANGELOG.md
!LICENSE*
!.vscodeignore
